<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource = "OOOMapper.xml"/>  <!--mapper xml 파일의 이름 -->

        <mapper resource = "UserSignUpChkMapper.xml"/>
        <mapper resource = "UserTodayClassMapper.xml"/>
        <mapper resource = "ClassListMapper.xml"/>
        <mapper resource = "ClassDetailMapper.xml"/>
        <mapper resource = "ClassTakerListMapper.xml"/>
        <mapper resource = "AdMapper.xml"/>
        <mapper resource = "AllClassMemberTakeMapper.xml"/>
        <mapper resource="AllClassMemberHostMapper.xml"/>
        <mapper resource="MemberStampNumMapper.xml"/>
        <mapper resource="UserSignUpMapper.xml"/>
        <mapper resource="EnrollClassMapper.xml"/>
    </mappers>
</configuration>